body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: rgb(207, 35, 35);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: violet;
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
}
.color{
    color: orange;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px rgb(113, 113, 117);
}
#pharma{
    
    border-left: 5px solid rgb(240, 14, 6);
}
#pharma1{
    
    border-left: 5px solid rgb(57, 8, 236);
}